{% extends 'layouts/base.html' %}

{% block title %} Maps {% endblock title %}

{% block content %}



    <div class="row mt-4" style="margin-left: 30px;">
        <div class="d-flex justify-content-between mb-4">
            <form class="search">
                <div class="d-flex gap-3 align-items-center">
                    <input type="text" placeholder="Search for sales" name="search" id="" class="form-control">
                    <button type="submit" class="btn btn-primary height mt-2" style="margin-left: 15px;">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form> 


        <div class="mb-4" style="margin-left: 150px;">
            <form action="/tables/create-filter/" method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="vZzWWR4rxFgZ98VFV47hXf1xKpTLC6GQIeIAecL9WmeRWh5sovhIfSHF8ps0982b">
    
                    <div class="d-flex gap-3 align-items-center mb-3" style="margin-left: 400px;">
                        <a href="/FormCul.html"> <button id="addButton" type="button" class="btn btn-primary"><i class="fa fa-plus"></i>
                            Ajouter des cultures</button></a>
                    </div>
                    
                    <button id="submitButton" type="submit"  style="display: none;"  class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>

        <div class="card">
            <div class="card-header">
                <h2>Gestion des Cultures</h2>
                <small>Tous les cultures seront entrées & vu ici par l'admin.</small>
            </div>
            <div class="card-body">
                <div class="dt-responsive table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                                <th id="th_ID" scope="col">Id</th>

                                <th id="th_nom" scope="col">Nom</th>
                            
                                <th id="th_email" scope="col">Date de Plantations</th>
                            
                                <th id="th_mot de passe" scope="col">Date de récolte</th>
                            
                                <th id="th_adresses" scope="col">IdAgriculteurs</th>
                            
                                <th id="th_actions" scope="col">Actions(Modifier/Suprimer)</th>
                            
                            
                          </tr>
                        </thead>
                        <tbody>
                            
                            <tr class="align-middle table-row">
                                
                                <td class="td_ID data-td">1</td>
                                
                                <td class="td_Product data-td">Wireless Headphones</td>
                                
                                <td class="td_BuyerEmail data-td">john@test.com</td>
                                
                                <td class="td_PurchaseDate data-td">May 15, 2024</td>
                                
                                <td class="td_Country data-td">USA</td>
                                
                                <td class="td_Price data-td"><a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a></td>
    
                                
                                <td class="action-td d-none">
                                    <a data-bs-toggle="modal" data-bs-target="#editSales-1" class="btn btn-primary btn-sm p-0 ps-3 py-2 pe-1" href="#"><i class="fas fa-edit"></i></a>
                                    <a data-bs-toggle="modal" data-bs-target="#deleteSales-1" class="btn btn-danger btn-sm p-0 ps-3 py-2 pe-1" href="#"><i class="fas fa-trash-alt"></i></a>
                                </td>
                                
                            </tr>
    
                            <!-- Edit Sales -->
                            <div class="modal fade" id="editSales-1" tabindex="-1" aria-labelledby="editSalesLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <h1 class="modal-title fs-5" id="editSalesLabel">Edit Sales</h1>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/tables/update/1/" method="post">
                                                <input type="hidden" name="csrfmiddlewaretoken" value="vZzWWR4rxFgZ98VFV47hXf1xKpTLC6GQIeIAecL9WmeRWh5sovhIfSHF8ps0982b">
                                                
                                                <div class="row">
                                                    
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="Product" class="form-label">Product</label>
                                                            
                                                            <input type="text" value="Wireless Headphones" name="Product" id="Product" class="form-control">
                                                            
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="BuyerEmail" class="form-label">Buyeremail</label>
                                                            
                                                            <input type="text" value="john@test.com" name="BuyerEmail" id="BuyerEmail" class="form-control">
                                                            
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="PurchaseDate" class="form-label">Purchasedate</label>
                                                            
                                                            <input type="date" value="2024-05-15" name="PurchaseDate" id="PurchaseDate" class="form-control">
                                                            
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="Country" class="form-label">Country</label>
                                                            
                                                            <input type="text" value="USA" name="Country" id="Country" class="form-control">
                                                            
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="Price" class="form-label">Price</label>
                                                            
                                                            <input type="number" step="0.01" value="10.51" name="Price" id="Price" class="form-control">
                                                            
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="Refunded" class="form-label">Refunded</label>
                                                            
                                                            <select name="Refunded" id="Refunded" class="form-select">
                                                                <option  value="YES">Yes</option>
                                                                <option  selected  value="NO">No</option>
                                                            </select>
                                                            
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="Currency" class="form-label">Currency</label>
                                                            
                                                            <select name="Currency" id="Currency" class="form-select">
                                                                <option  selected  value="USD">USD</option>
                                                                <option  value="EUR">EUR</option>
                                                            </select>
                                                            
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="Quantity" class="form-label">Quantity</label>
                                                            
                                                            <input type="number" value="3" name="Quantity" id="Quantity" class="form-control">
                                                            
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div>
                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <!-- Delete Sales -->
                            <div class="modal fade" id="deleteSales-1" tabindex="-1" aria-labelledby="deleteSalesLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <div class="d-flex justify-content-between">
                                        <div>
                                            <h1 class="modal-title fs-5" id="deleteSalesLabel">Delete Item</h1>
                                        </div>
                                        <div>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="modal-body">
                                      <h5>Are you sure you want to delete this item?</h5>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                      <a href="/tables/delete/1/" class="btn btn-danger">Delete</a>
                                    </div>
                                  </div>
                                </div>
                            </div>

{% endblock content %}

