{% extends 'layouts/base.html' %}

{% block title %} Maps {% endblock title %}

{% block content %}

	<!-- HTML Input Types -->
    <div class="card ">
        <div class="card-header">
           <h2 style="margin-left: 450px;">Enrégistrement</h2>
        </div>
        <div class="card-body">
            <div class="alert alert-primary">
                <div class="media align-items-center">
                    <i class="feather icon-alert-circle h2"></i>
                    <div class="media-body ms-3">
                        <h3>Saisissez les Cultures que vous avez !!!</h3>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="demo-search-input" class="col-form-label">Cultures</label>
                <input class="form-control" type="search" placeholder="Taper le nom de la culture" id="demo-search-input">
                <small>Le nom de votre culture doit-être saisie ici.</small>
            </div>
            <div class="form-group">
                <label for="demo-number-input" class="col-form-label">Identifiant</label>
                <input class="form-control" type="number" placeholder="100" id="demo-number-input">
            </div>
            <div class="form-group">
                <label for="demo-date-only" class="col-form-label">Date de Plantation</label>
                <input class="form-control" type="date" placeholder="Enrégistrer la date de plantation" id="demo-date-only">
            </div>
            <div class="form-group">
                <label for="demo-date-only" class="col-form-label">Date de Récolte</label>
                <input class="form-control" type="date" placeholder="Enrégistrer la date de récolte" id="demo-date-only">
            </div>
            
           
        </div>
        <div class="card-footer">
            <button class="btn btn-primary me-2">Submit</button>
            <a href="/Cultures.html"> <button class="btn btn-secondary">Cancel</button></a>
            
        </div>
    </div>
</div>


{% endblock content %}
